<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/style1.css"> -->
    <%- include('header'); -%>
    <title>Document</title>
</head>
<body>
    
    <div class="footer">
        
        <p>© 2023 movie hunter ALL RIGHTS RESERVED</p>
        <img src="/css/images/instagram.png" alt=""> 
        <img src="/css/images/facebook.png" alt="">
        <img src="/css/images/linkedin.png" alt="">
        <img src="/css/images/twitter.png" alt="">
        <img src="/css/images/youtube.png" alt="">
      </div> 
</body>
</html>
  