<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sub-nav</title>
</head>
<body>
    <div id="sub-navigation">
        <ul>
          <li><a href="/allmovies">SHOW ALL</a></li>
          <!-- <li><a href="#">LATEST TRAILERS</a></li>
          <li><a href="#">TOP RATED</a></li> -->
          <!-- <li><a href="#">MOST COMMENTED</a></li> -->
        </ul>
        <div id="search">
          <form action="#" method="get" accept-charset="utf-8">
            <label for="search-field">SEARCH</label>
            <input type="text" name="search field" value="Enter search here" id="search-field" class="blink search-field"  />
            <input type="submit" value="GO!" class="search-button" />
          </form>
        </div>
      </div>
</body>
</html>